@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

:root {
  --titles-color: #142d4c;
  --secondary-color: #385170;
  --paragraph-color: #3b3b3b;
}

body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(166, 226, 229) 0%,
    rgb(198, 232, 221) 100.2%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App footer {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 300;
}

.App .container {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  max-width: 900px;
}
