form {
  margin-top: 60px;
  text-align: center;
}

input {
  background: transparent;
  border: none;
  font-weight: 200;
  position: relative;
  left: 5px;
  width: 90%;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--secondary-color);
}

h1,
h2,
h3 {
  color: var(--titles-color);
}

.bi-search {
  color: var(--secondary-color);
}

.input-group {
  border-bottom: 1px solid var(--titles-color);
}
