form {
  margin-top: 40px;
  text-align: center;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #4d4c4c;
  width: 300px;
}

input:focus {
  outline: none;
}

.bi-search {
  border-bottom: 1px solid #4d4c4c;
  padding: 3.5px;
}

.word-results {
  text-align: center;
}
