form {
  margin-top: 40px;
  text-align: center;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--titles-color);
  font-weight: 200;
  width: 300px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #385170;
}

.bi-search {
  border-bottom: 1px solid var(--titles-color);
  color: var(--titles-color);
  padding: 3.5px;
}

.word-results {
  text-align: center;
}
