.WordPhonetics button {
  background-color: var(--titles-color);
  border: 1px solid var(--titles-color);
  border-radius: 50%;
  color: #9fd3c7;
}

.WordPhonetics button:hover {
  background-color: transparent;
  border: 1px solid var(--titles-color);
  color: var(--titles-color);
  transition: all 200ms ease-in-out;
}

.WordPhonetics h2 {
  display: inline;
  margin-right: 10px;
  margin-left: 15px;
}

.WordPhonetics em {
  color: #385170;
  margin-right: 10px;
}
